

/* body {
  font-family: Arial, sans-serif;
  background-color: #f5f8fc;
  margin: 0;
  padding: 0;
  color: #333;
} */
/* shared style */

.container-width{
  max-width: 1140px;
  margin: 0 auto;
}
.btn-primary{
  background-color: orange;
  border-radius: 5px;
  color: white;
  padding: 20px 25px;
  font-size: 1.25em;
  font-size: 600;
  border: none;
  width: 100%;
  
}

.p-text{
  font-size: 1.25rem;
  font-weight: 600;

}

.text-primary{
  color: orange;
}

.text-gray{
  color:#424242;
}

.text-light-gray{
  color: #727272;
}

.bg-light{
  background-color:F5F8FF;
}
.section-title{
  font-size: 2.8rem;
  font-weight:700;
}


.disply-flex{
  display: flex;
}

/* navbar style start */

.nav-item{
  list-style: none;
}
.nav-link{
  
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;

}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.banner-content{
    max-width: 850px;
    text-align: left;
    align-self: flex-end;
  
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner{
  margin-top: 150px;
  
  
  }
  .banner-img, .flower-shop{
    width: 100%;
  }

  .banner-description{
    font-size: 1rem;
  }

  .Plants-info{
  /* max-width: 540px; */
  margin: 50px auto;
  text-align: center;
}
.Plants-container{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.Plants-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}
.Plants-price{
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 10px;
}
 .images-control{
    max-width: 275px;
    
}

.plants-card{
  margin-bottom: 50px;
  /* max-width: 675px;  */
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content:center;
    
}

/* Plants Lover style Section */

.plants-lover-container {
  
  align-items: flex-start;
  max-width: 1140px;
  margin: 40px auto;
}

.Plants-lover-left {
  position: relative;
  width: 50%;
}

.flower-shop img{
  width: 100%;
  height: auto;
  display: block;
}

.trusted-badge {
  position: absolute;
  top: -100px;
  right: -100px;
  width: 100%;
  width: 286px;
  height: 286px;
}

.Plants-lover-right {
  margin-left: 60px;
  width: 50%;
}
.Plants-lover-right ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #555;
}

.Plants-lover-right li {
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.6;
}










/* responsive style section */
@media screen and (max-width:576px) {
  
  .banner,
  .Plants-container
  {
    flex-direction: column-reverse;
    gap: 20px;
  } 
  .Plants-container,
  .plants-card
  {
    grid-template-columns: repeat(2, 1fr);
    
  }
  .gayebul-hawa,
  .trusted-badge{
    display: none;
  }

  .Plants-container
  {
  justify-items: center;
  gap: 8px;
  margin: 0 auto;
}
.Plants-lover-right{
  justify-items: center;
  text-align: left;
  margin: 0 auto;

}
.plants-lover-container{
  flex-direction: column;
}

.banner-img,
{
  width: 100%;
}

.images-control{
  width: 100%;
}
.flower-shop{
  width: 410px;
}


}